.footer-bg {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(240, 10%, 16%);
  height: 42%;
  padding-left: 180px;
  flex-wrap: wrap;
  padding-top: 68px;
  border-top-right-radius: 95px;
}

.container-links {
  display: flex;
  gap: 240px;
}

.links-footer h3 {
  color: hsl(0, 100%, 100%);
  font-weight: 500;
  margin: 8px 0px 20px 0px;
}

.links-footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: hsla(0, 0%, 100%, 0.74);
}

.links-footer ul li a:hover {
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.74);
  /* transition: 0.2s; */
}

@media (max-width: 1440px) {
  .container-links {
    display: flex;
    gap: 195px;
  }
}

@media (max-width: 420px) {
  .footer-bg {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    background-color: hsl(240, 10%, 16%);
    height: 100%;
    padding-left: 0px;
    flex-wrap: wrap;
    padding-top: 68px;
    padding-bottom: 50px;
    border-top-right-radius: 95px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .container-links {
    display: flex;
    gap: 52px;
    flex-direction: column;
  }
}

/* attribution */

.attribution {
  display: flex;
  justify-content: center;
  background-color: hsl(240, 10%, 16%);
  color: hsl(0, 100%, 100%);
  padding-bottom: 5px;
}

@media (max-width: 420px) {
  .attribution p {
    font-size: 14px;
  }
}
